meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(rel="stylesheet", type="text/css", href="/css/landingpagecss.css")
title Landing page
.banner
  .navbar
    img.logo(src="/images/logo.png")
    ul
      li
        a(href="#") About
      li
        a(href="#") Contact
  .content
    h1 Parkville Park
    p The ultimate secure parking space for your vehicle.
    a(href="/login")
      button(type="button")
        span
        | Click here